
/* Estilos globales */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

/* Estilo del contenedor principal */
.App {
  text-align: center;
  margin-top: 50px;
}

/* Estilo del título */
h1 {
  color: #333;
}

/* Estilo del formulario */
form {
  display: inline-block;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilo de los elementos del formulario */
form div {
  margin-bottom: 15px;
}

/* Estilo de las etiquetas */
label {
  display: block;
  margin-bottom: 5px;
  color: #666;
}

/* Estilo de los campos de entrada */
input[type="file"] {
  display: block;
  margin: 0 auto;
}

/* Estilo del botón */
button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
}

button:disabled {
  background-color: #007bff;
  opacity: 0.6;
  cursor: not-allowed;
}

.loader-container {
  display: flex;
  align-items: center;
  justify-content: center; /* Centra el loader horizontalmente */
  margin-top: 10px;
  text-align: center; /* Asegura que el texto también esté centrado */
}

.loader {
  border: 4px solid #f3f3f3; /* Light grey */
  border-top: 4px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 24px;
  height: 24px;
  animation: spin 1s linear infinite;
  margin-right: 8px;
}


@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
