
/* Estilos globales */
body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa; /* Color de fondo más suave */
  margin: 0;
  padding: 0;
}

/* Contenedor principal centrado */
.App {
  text-align: center;
  margin-top: 50px;
}

/* Estilo del título */
h1 {
  color: #333;
  margin-bottom: 20px;
  font-size: 24px;
}

/* Formulario centrado y estilizado */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: auto;
}

/* Espaciado y centrado de cada campo */
form div {
  width: 100%;
}

/* Estilo de las etiquetas */
label {
  display: block;
  margin-bottom: 5px;
  color: #666;
  font-size: 14px;
  font-weight: 500;
}

/* Estilo del DatePicker */
/* Añadir un margen vertical más amplio entre los campos del formulario */
form div {
  width: 100%;
 
}

/* Espacio en el DatePicker */
.react-datepicker-wrapper {
  width: 100%;
  margin-top: 5px; /* Margen superior */
}

.react-datepicker__input-container input {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  font-size: 14px;
}


/* Estilo de los campos de entrada */
input[type="file"] {
  display: block;
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ddd;
  box-sizing: border-box;
}

/* Botón estilizado */
button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  width: 100%;
}

button:hover {
  background-color: #0056b3;
}

button:disabled {
  background-color: #007bff;
  opacity: 0.6;
  cursor: not-allowed;
}

/* Loader centrado */
.loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  text-align: center;
}

.loader {
  border: 4px solid #f3f3f3; /* Gris claro */
  border-top: 4px solid #3498db; /* Azul */
  border-radius: 50%;
  width: 24px;
  height: 24px;
  animation: spin 1s linear infinite;
  margin-right: 8px;
}

/* Animación del loader */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Estilo del mensaje de estado */
.status-message {
  margin-top: 15px;
  color: #555;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
}

.reset-button {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

.reset-button:hover {
  background-color: #d32f2f;
}

.label {
 margin-top: 20px;
}

.btn{
  margin-top: 20px;
}

